header {
    background-color: var(--color-primary);
    height: 3.75rem;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none !important;
    color: var(--color-text-header) !important;
}

.rcbamovies-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.rcbamovies-nav-content  {
    color: var(--color-text-header);
    margin: 0;
    font-size: 1.5rem;
}

.rcbamovies-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.rcbamovies-contact-container {
    display: flex;
    align-items: center;
}

.rcbamovies-contact-link {
    margin: 0 0 0 0.625rem;
    font-size: 0.85rem;
}