@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --background-primary: #222222;
    --background-secondary: #333333;

    --color-primary: #38b000;
    --color-secondary: #70e000;
    --color-tertiary: #9EF01A;
    
    --color-text-primary: #fff;
    --color-text-secondary: rgb(190, 190, 190);
    --color-text-header: #2C2C2C;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: var(--background-primary) !important;
}

h1 {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: rgb(242, 255, 240);
}

a, a:hover {
  text-decoration: none;
  color: unset;
}